@import "../__common__/scss/color";
@import "../__common__/scss/base";

.versa-btn {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: $versa-border-radius;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: $versa-height;
  min-width: $versa-height;
  font-size: $versa-font-size;
  padding: 4px 15px;
  transition: all 0.2s;
  white-space: nowrap;

  &-only {
    padding: 4px 0;
  }

  &:not(.versa-btn-only) .versa-btn-icon {
    margin-right: 8px;
  }

  &-loading {
    opacity: 0.65;
  }

  // 类型
  &--primary {
    color: white;
    background-color: $versa-blue-6;
    &:not(:disabled):hover {
      background-color: $versa-blue-4;
    }
    &:not(:disabled):active {
      background-color: $versa-blue-7;
    }
  }
  &--dashed {
    color: $versa-color-text;
    background-color: #fff;
    border: 1px dashed $versa-color-border;
    &:not(:disabled):hover {
      border-color: $versa-blue-5;
      color: $versa-blue-5;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-blue-7;
      color: $versa-blue-7;
      z-index: 1;
    }
  }
  &--link {
    color: $versa-blue-6;
    background-color: #fff;
    border: none;
    &:not(:disabled):hover {
      color: $versa-blue-4;
    }
    &:not(:disabled):active {
      color: $versa-blue-7;
    }
  }
  &--text {
    color: $versa-color-text;
    background-color: #fff;
    &:not(:disabled):hover {
      background-color: #eaeaea;
      z-index: 1;
    }
    &:not(:disabled):active {
      background-color: #bfbfbf;
      z-index: 1;
    }
  }
  &--default {
    color: $versa-color-text;
    background-color: #fff;
    border: 1px solid $versa-color-border;
    &:not(:disabled):hover {
      border-color: $versa-blue-5;
      color: $versa-blue-5;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-blue-7;
      color: $versa-blue-7;
      z-index: 1;
    }
  }

  // 尺寸
  &--small {
    font-size: $versa-font-size-sm;
    height: $versa-height-sm;
    min-width: $versa-height-sm;
  }
  &--large {
    font-size: $versa-font-size-xl;
    height: $versa-height-lg;
    min-width: $versa-height-lg;
  }

  //危险
  &--primary.versa-btn--danger {
    color: white;
    background-color: $versa-color-error-text;
    &:not(:disabled):hover {
      background-color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      background-color: $versa-color-error-text-active;
      z-index: 1;
    }
  }
  &--dashed.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: 1px dashed $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
      z-index: 1;
    }
  }
  &--link.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: none;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      color: $versa-color-error-text-active;
      z-index: 1;
    }
  }
  &--text.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
      background-color: $versa-color-error-bg-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      background-color: #fbdcda;
      z-index: 1;
    }
  }
  &--default.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
      z-index: 1;
    }
  }

  //幽灵按钮
  &--primary.versa-btn--ghost,
  &--dashed.versa-btn--ghost,
  &--link.versa-btn--ghost,
  &--text.versa-btn--ghost,
  &--default.versa-btn--ghost {
    background-color: transparent;
  }
  &--primary.versa-btn--ghost,
  &--dashed.versa-btn--ghost,
  &--default.versa-btn--ghost {
    color: $versa-blue-6;
    border: 1px solid $versa-blue-6;
    &:not(:disabled):hover {
      background-color: transparent;
      color: $versa-blue-5;
      border-color: $versa-blue-5;
      z-index: 1;
    }
    &:not(:disabled):active {
      background-color: transparent;
      color: $versa-blue-7;
      border-color: $versa-blue-7;
      z-index: 1;
    }
  }
  &--primary.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
      border-color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      color: $versa-color-error-text-active;
      border-color: $versa-color-error-text-active;
      z-index: 1;
    }
  }
  &--dashed.versa-btn--ghost {
    color: #fff;
    border: 1px dashed #fff;
  }
  &--dashed.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px dashed $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
      z-index: 1;
    }
  }
  &--default.versa-btn--ghost {
    color: #fff;
    border: 1px solid #fff;
  }
  &--default.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
      z-index: 1;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
      z-index: 1;
    }
  }

  //按钮失效
  &:disabled,
  &--disabled {
    background-color: $versa-color-bg-container-disabled;
    color: $versa-color-text-quaternary !important;
    border-color: $versa-color-border !important;
    cursor: no-drop;
  }
  &--primary:disabled,
  &--primary.versa-btn--disabled {
    border: 1px solid $versa-color-border;
  }
  &--text:disabled,
  &--link:disabled,
  &--text.versa-btn--disabled,
  &--link.versa-btn--disabled {
    border-color: none;
    background-color: #fff;
  }

  // block按钮
  &--block {
    width: 100%;
  }

  // 按钮形状
  &--circle {
    border-radius: 50%;
    padding: 4px 0;
  }
  &--round {
    border-radius: $versa-height;
  }
  &--round.versa-btn--small {
    border-radius: $versa-height-sm;
  }
  &--round.versa-btn--large {
    border-radius: $versa-height-lg;
  }

  // 紧凑布局
  &-compact {
    position: relative;

    &-horizontal {
      margin-inline-end: -1px;
    }

    &-vertical {
      margin-bottom: -1px;
    }

    &-first-item {
      border-radius: $versa-border-radius 0 0 $versa-border-radius;
    }

    &-item {
      border-radius: 0px;
    }

    &-last-item {
      border-radius: 0 $versa-border-radius $versa-border-radius 0;
    }

    &-vertical-first-item {
      border-radius: $versa-border-radius $versa-border-radius 0 0;
    }

    &-vertical-item {
      border-radius: 0px;
    }

    &-vertical-last-item {
      border-radius: 0 0 $versa-border-radius $versa-border-radius;
    }
  }

  &-compact-horizontal.versa-btn--primary:not([disabled])
    + &-compact-horizontal.versa-btn--primary:not([disabled])::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: $versa-blue-5;
    content: "";
  }

  &-compact-vertical.versa-btn--primary:not([disabled])
    + &-compact-vertical.versa-btn--primary:not([disabled])::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $versa-blue-5;
    content: "";
  }
}

a.versa-btn {
  text-decoration: none;
  display: initial;
}
