@import "../__common__/scss/color";
@import "../__common__/scss/base";

.versa-btn {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: $versa-height;
  min-width: $versa-height;
  font-size: $versa-font-size;
  padding: 4px 15px;
  transition: all 0.2s;

  &-only {
    padding: 4px 0;
  }

  &:not(.versa-btn-only) .versa-btn-icon {
    margin-right: 8px;
  }

  &-loading {
    opacity: 0.65;
  }

  // 类型
  &--primary {
    color: white;
    background-color: $versa-blue-6;
    &:not(:disabled):hover {
      background-color: $versa-blue-4;
    }
    &:not(:disabled):active {
      background-color: $versa-blue-7;
    }
  }
  &--dashed {
    color: $versa-color-text;
    background-color: #fff;
    border: 1px dashed $versa-color-border;
    &:not(:disabled):hover {
      border-color: $versa-blue-5;
      color: $versa-blue-5;
    }
    &:not(:disabled):active {
      border-color: $versa-blue-7;
      color: $versa-blue-7;
    }
  }
  &--link {
    color: $versa-blue-6;
    background-color: #fff;
    border: none;
    &:not(:disabled):hover {
      color: $versa-blue-4;
    }
    &:not(:disabled):active {
      color: $versa-blue-7;
    }
  }
  &--text {
    color: $versa-color-text;
    background-color: #fff;
    &:not(:disabled):hover {
      background-color: #eaeaea;
    }
    &:not(:disabled):active {
      background-color: #bfbfbf;
    }
  }
  &--default {
    color: $versa-color-text;
    background-color: #fff;
    border: 1px solid $versa-color-border;
    &:not(:disabled):hover {
      border-color: $versa-blue-5;
      color: $versa-blue-5;
    }
    &:not(:disabled):active {
      border-color: $versa-blue-7;
      color: $versa-blue-7;
    }
  }

  // 尺寸
  &--small {
    font-size: $versa-font-size-sm;
    height: $versa-height-sm;
    min-width: $versa-height-sm;
  }
  &--large {
    font-size: $versa-font-size-xl;
    height: $versa-height-lg;
    min-width: $versa-height-lg;
  }

  //危险
  &--primary.versa-btn--danger {
    color: white;
    background-color: $versa-color-error-text;
    &:not(:disabled):hover {
      background-color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      background-color: $versa-color-error-text-active;
    }
  }
  &--dashed.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: 1px dashed $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
    }
  }
  &--link.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: none;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      color: $versa-color-error-text-active;
    }
  }
  &--text.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
      background-color: $versa-color-error-bg-hover;
    }
    &:not(:disabled):active {
      background-color: #fbdcda;
    }
  }
  &--default.versa-btn--danger {
    color: $versa-color-error-text;
    background-color: #fff;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
    }
  }

  //幽灵按钮
  &--primary.versa-btn--ghost,
  &--dashed.versa-btn--ghost,
  &--link.versa-btn--ghost,
  &--text.versa-btn--ghost,
  &--default.versa-btn--ghost {
    background-color: transparent;
  }
  &--primary.versa-btn--ghost,
  &--dashed.versa-btn--ghost,
  &--default.versa-btn--ghost {
    color: $versa-blue-6;
    border: 1px solid $versa-blue-6;
    &:not(:disabled):hover {
      background-color: transparent;
      color: $versa-blue-5;
      border-color: $versa-blue-5;
    }
    &:not(:disabled):active {
      background-color: transparent;
      color: $versa-blue-7;
      border-color: $versa-blue-7;
    }
  }
  &--primary.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      color: $versa-color-error-hover;
      border-color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      color: $versa-color-error-text-active;
      border-color: $versa-color-error-text-active;
    }
  }
  &--dashed.versa-btn--ghost {
    color: #fff;
    border: 1px dashed #fff;
  }
  &--dashed.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px dashed $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
    }
  }
  &--default.versa-btn--ghost {
    color: #fff;
    border: 1px solid #fff;
  }
  &--default.versa-btn--ghost.versa-btn--danger {
    color: $versa-color-error-text;
    border: 1px solid $versa-color-error-text;
    &:not(:disabled):hover {
      border-color: $versa-color-error-border-hover;
      color: $versa-color-error-hover;
    }
    &:not(:disabled):active {
      border-color: $versa-color-error-text-active;
      color: $versa-color-error-text-active;
    }
  }

  //按钮失效
  &:disabled,
  &--disabled {
    background-color: #d9d9d9;
    color: $versa-color-text-quaternary !important;
    border-color: $versa-color-text-disabled !important;
    cursor: no-drop;
    pointer-events: none;
  }
  &--primary:disabled,
  &--primary.versa-btn--disabled {
    border: 1px solid $versa-color-text-disabled;
  }
  &--text:disabled,
  &--link:disabled,
  &--text.versa-btn--disabled,
  &--link.versa-btn--disabled {
    border-color: none;
    background-color: #fff;
  }

  // block按钮
  &--block {
    width: 100%;
  }

  // 按钮形状
  &--circle {
    border-radius: 50%;
    padding: 4px 0;
  }
  &--round {
    border-radius: $versa-height;
  }
  &--round.versa-btn--small {
    border-radius: $versa-height-sm;
  }
  &--round.versa-btn--large {
    border-radius: $versa-height-lg;
  }
}

a.versa-btn {
  text-decoration: none;
  display: initial;
}
