@import "../__common__/scss/base";
@import "../__common__/scss/color";

$justify: (start, end, center, space-around, space-between, space-evenly);
$align: (
  top: flex-start,
  middle: center,
  bottom: flex-end,
  stretch: stretch,
);

$responsive: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

.versa-row {
  width: 100%;
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
}

@each $item in $justify {
  .versa-row-#{$item} {
    justify-content: $item;
  }
}

@each $key, $item in $align {
  .versa-row-#{$key} {
    align-items: $item;
  }
}

.versa-col {
  box-sizing: border-box;
}

.dumi-default-previewer-demo .versa-col {
  font-size: $versa-font-size;
  color: #fff;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all 0.2s;
}

.dumi-default-previewer-demo
  .versa-row
  > div:not(.gutter-row):nth-child(2n + 1) {
  background-color: $versa-blue-5;
}

.dumi-default-previewer-demo .versa-row > div:not(.gutter-row) {
  background-color: $versa-blue-6;
}

@for $i from 1 to 25 {
  //遍历span
  .versa-col-#{$i},
  .versa-col-xs-span-#{$i} {
    flex: 0 0 calc($i / 24 * 100%);
  }
  //遍历offset
  .versa-col-offset-#{$i},
  .versa-col-xs-offset-#{$i} {
    margin-inline-start: calc($i / 24 * 100%);
  }
  //遍历push
  .versa-col-push-#{$i},
  .versa-col-xs-push-#{$i} {
    inset-inline-start: calc($i / 24 * 100%);
  }
  //遍历pull
  .versa-col-pull-#{$i},
  .versa-col-xs-pull-#{$i} {
    inset-inline-end: calc($i / 24 * 100%);
  }
  //遍历order
  .versa-col-order-#{$i},
  .versa-col-xs-order-#{$i} {
    order: $i;
  }
}

@each $key, $media in $responsive {
  @media screen and (min-width: $media) {
    .versa-col-#{$key}-span {
      flex: var(--versa-col-#{$key}-flex);
    }
    //遍历flex
    .versa-col-#{$key}-flex {
      flex: var(--versa-col-#{$key}-flex);
    }
    //遍历offset
    .versa-col-#{$key}-offset {
      margin-inline-start: var(--versa-col-#{$key}-offset);
    }
    //遍历push
    .versa-col-#{$key}-push {
      inset-inline-start: var(--versa-col-#{$key}-push);
    }
    //遍历pull
    .versa-col-#{$key}-pull {
      inset-inline-end: var(--versa-col-#{$key}-pull);
    }
    //遍历order
    .versa-col-#{$key}-order {
      order: var(--versa-col-#{$key}-order);
    }
    @for $i from 1 to 25 {
      //遍历span
      .versa-col-#{$key}-span-#{$i} {
        flex: 0 0 calc($i / 24 * 100%);
      }
      //遍历offset
      .versa-col-#{$key}-offset-#{$i} {
        margin-inline-start: calc($i / 24 * 100%);
      }
      //遍历push
      .versa-col-#{$key}-push-#{$i} {
        inset-inline-start: calc($i / 24 * 100%);
      }
      //遍历pull
      .versa-col-#{$key}-pull-#{$i} {
        inset-inline-end: calc($i / 24 * 100%);
      }
      //遍历order
      .versa-col-#{$key}-order-#{$i} {
        order: #{$i};
      }
    }
  }
}
