$versa-font-size-xs: 10px;
$versa-font-size-sm: 12px;
$versa-font-size: 14px;
$versa-font-size-lg: 16px;
$versa-font-size-xl: 20px;
$versa-font-size-heading-1: 38px;
$versa-font-size-heading-2: 30px;
$versa-font-size-heading-3: 24px;
$versa-font-size-heading-4: 20px;
$versa-font-size-heading-5: 16px;
$versa-line-height: 1.5714285714285714;
$versa-line-height-lg: 1.5;
$versa-line-height-sm: 1.6666666666666667;
$versa-font-height: 22px;
$versa-font-height-lg: 24px;
$versa-font-height-sm: 20px;
$versa-line-height-heading-1: 1.2105263157894737;
$versa-line-height-heading-2: 1.2666666666666666;
$versa-line-height-heading-3: 1.3333333333333333;
$versa-line-height-heading-4: 1.4;
$versa-line-height-heading-5: 1.5;
$versa-height-sm: 24px;
$versa-height-xs: 16px;
$versa-height: 32px;
$versa-height-lg: 40px;
$versa-motion-duration-fast: 0.1s;
$versa-motion-duration-mid: 0.2s;
$versa-motion-duration-slow: 0.3s;
$versa-line-width-bold: 2px;
$versa-border-radius-xs: 2px;
$versa-border-radius-sm: 4px;
$versa-border-radius: 6px;
$versa-border-radius-lg: 8px;
$versa-border-radius-outer: 4px;
$versa-font-size-icon: 12px;
$versa-line-width-focus: 4px;
$versa-control-outline-width: 2px;
$versa-control-interactive-size: 16px;
$versa-font-weight-strong: 600;
$versa-opacity-loading: 0.65;
$versa-link-decoration: none;
$versa-link-hover-decoration: none;
$versa-link-focus-decoration: none;
$versa-control-padding-horizontal: 12px;
$versa-control-padding-horizontal-sm: 8px;
$versa-padding-xxs: 4px;
$versa-padding-xs: 8px;
$versa-padding-sm: 12px;
$versa-padding: 16px;
$versa-padding-md: 20px;
$versa-padding-lg: 24px;
$versa-padding-xl: 32px;
$versa-padding-content-horizontal-lg: 24px;
$versa-padding-content-vertical-lg: 16px;
$versa-padding-content-horizontal: 16px;
$versa-padding-content-vertical: 12px;
$versa-padding-content-horizontal-sm: 16px;
$versa-padding-content-vertical-sm: 8px;
$versa-margin-xxs: 4px;
$versa-margin-xs: 8px;
$versa-margin-sm: 12px;
$versa-margin: 16px;
$versa-margin-md: 20px;
$versa-margin-lg: 24px;
$versa-margin-xl: 32px;
$versa-margin-xxl: 48px;
$versa-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$versa-box-shadow-secondary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$versa-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$versa-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$versa-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$versa-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$versa-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$versa-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$versa-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$versa-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px
  rgba(0, 0, 0, 0.08);
$versa-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$versa-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px
  rgba(0, 0, 0, 0.08);
