@import "../__common__/scss/base";
@import "../__common__/scss/color";

.versa-tree {
  &-treeNode {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    position: relative;

    &-disabled {
      .versa-tree-title {
        cursor: not-allowed;
        color: $versa-color-text-disabled;

        &:hover {
          background-color: initial;
        }
      }
    }
  }

  &-draggable {
    cursor: move;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #d9d9d9;
    transition: all 0.3s;

    &-icon {
      width: 14px;
      height: 14px;
      span {
        font-size: 14px;
      }
    }

    &:hover {
      color: $versa-color-text;
    }
  }

  &-dragging {
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      border: 1px solid $versa-color-primary-text;
      pointer-events: none;
    }
  }

  &-dragging,
  &-dragOver {
    .versa-tree-draggable,
    .versa-tree-indent,
    .versa-tree-switcher,
    .versa-tree-checkbox,
    .versa-tree-title,
    .versa-tree-directory,
    .versa-tree-icon {
      pointer-events: none;
    }
  }

  &-indent {
    align-self: stretch;
    &-item {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 24px;
    }

    &-line,
    &-endLine {
      &::before {
        content: "";
        height: calc(100% + 4px);
        width: 1px;
        background-color: #d9d9d9;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-endLine {
      &::after {
        content: "";
        width: 12px;
        height: 1px;
        background-color: #d9d9d9;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    &-endLine-last {
      &::before {
        height: 14px;
      }
    }

    &-icon {
      font-size: $versa-font-size;
      margin: 0 5px;
    }
  }

  &-switcher {
    width: 24px;
    height: 24px;
    font-size: $versa-font-size-xs;
    border-radius: $versa-border-radius;
    transition: all 0.3s;
    text-align: center;
    line-height: 24px;
    cursor: pointer;

    &:not(.versa-tree-switcher-noop):hover {
      background-color: $versa-color-bg-text-hover;
    }

    &-inner {
      display: inline-block;
      transition: all 0.3s;

      &-rotate {
        transform: rotate(-90deg);
      }
      &-custom {
        font-size: $versa-font-size;
      }
    }

    &-loading {
      font-size: $versa-font-size;
      color: $versa-blue-6;
    }
  }

  &-checkbox {
    cursor: pointer;
    width: $versa-height-xs;
    height: $versa-height-xs;
    margin-right: $versa-margin-xs;
    border-radius: $versa-border-radius-sm;
    color: #fff;

    &_inner {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: $versa-height-xs;
      font-size: $versa-font-size-xs;
      border-radius: $versa-border-radius-sm;
      border: 1px solid $versa-color-border;
      transition: all 0.2s;

      &:hover {
        border-color: $versa-blue-5;
      }
    }

    &-checked {
      border: none;
      background-color: $versa-blue-6;

      &:hover {
        background-color: $versa-blue-5;
      }

      &-nofull {
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          background-color: $versa-blue-6;
        }
      }
    }

    &-disabled {
      background-color: $versa-color-bg-container-disabled;
      color: transparent;

      .versa-tree-checkbox_inner:hover {
        border-color: $versa-color-border;
      }

      .versa-tree-checkbox-checked {
        background-color: transparent;
        color: $versa-color-text-disabled;
      }
    }
  }

  &-title {
    position: relative;
    padding: 0 calc($versa-padding-xs / 2);
    border-radius: $versa-border-radius;
    cursor: pointer;
    transition: all 0.2s;
    min-height: $versa-height-sm;
    line-height: $versa-height-sm;
    font-size: $versa-font-size;

    &:hover {
      background-color: $versa-color-bg-text-hover;
    }

    &-selected {
      background-color: $versa-blue-1 !important;
    }

    &-block {
      flex: 1;
    }
  }

  &-directory {
    padding-bottom: 0;
    margin-bottom: 4px;
    transition: all 0.3s;
    &:hover {
      background-color: $versa-color-bg-text-hover;
    }

    &-title {
      width: 100%;
      min-height: $versa-height-sm;
      line-height: $versa-height-sm;
      font-size: $versa-font-size;
      padding: 0 calc($versa-padding-xs / 2);
    }

    &-selected {
      color: #fff;
      background-color: $versa-blue-6 !important;
    }

    .versa-tree-switcher,
    .versa-tree-switcher-inner {
      transition: none;
    }
  }

  &-drop-indicator {
    z-index: 100;
    position: absolute;
    left: 4px;
    bottom: -3px;
    height: 1.5px;
    width: calc(100% - 4px);
    background-color: $versa-blue-6;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: -6px;
      width: 4px;
      height: 4px;
      border: 2px solid $versa-blue-6;
      border-radius: 50%;
    }

    &-top {
      top: -3px;
    }
  }

  &-icon {
    margin-right: 6px;
  }

  &-switch {
    overflow: hidden;
  }
}

@keyframes test {
  0% {
    max-height: 1000px;
  }
  100% {
    max-height: 0;
  }
}

.site-tree-search-value {
  color: #f50;
}
